{% extends 'base.html.twig' %}

{% block title 'Packages' %}

{% block alt_title '' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title">Showing all packages</h3>
            </div>
            <div class="box-body table-responsive">
                {% if packages|length %}
                <table class="table table-bordered" id="package-list">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Instance</th>
                            <th>Enabled</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for package in packages %}
                        <tr>
                            <td>{{ package.name }} (<a href="{{ package.webUrl }}">{{ package.fqn }}</a>)</td>
                            <td>{{ package.remote.name }}</td>
                            <td>{{ package.enabled ? 'Enabled' : 'Disabled' }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-default" href="{{ path('manage_package_edit', { id: package.id }) }}"><i class="fa fa-edit"></i> Edit</a>
                                    {% if package.enabled %}
                                    <a class="btn btn-warning" href="{{ path('manage_package_toggle', { id: package.id }) }}"><i class="fa fa-power-off"></i> Disable</a>
                                    {% else %}
                                    <a class="btn btn-default" href="{{ path('manage_package_toggle', { id: package.id }) }}"><i class="fa fa-power-off"></i> Enable</a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <h4>No packages. Synchronize <a href="{{ path('manage_remotes') }}">remote repositories</a> to add packages.</h4>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#package-list').DataTable({
            "pageLength": 100,
            "stateSave": true,
            "drawCallback": window.fixContainerHeights,
            "order": [[2, 'desc'], [0, 'asc']]
        });
    });
</script>
{% endblock %}
