<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{{ name }} Composer Repository</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <style type="text/css">
    {% include 'styles.css' %}
    </style>
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic" type="text/css" rel="stylesheet" />
</head>
<body>

    <div id="doc" class="yui-t7">
        <div id="hd">
            <h1><img src="img/logo.png" alt="{{ name }} Composer Repository" title="{{ name }} Composer Repository" /></h1>
            {% if description %}
                <p>{{ description }}</p>
            {% endif %}
        </div>
        <div id="bd">
            <div class="yui-g">
                Adding the repository to <em>composer.json</em>:
                <pre><code>{
    "repositories": [
        {
            "type": "composer",
            "url": "{{ url }}"
        }
    ]
}</code></pre>

                <h2>This is a private repository.</h2>
                <p>If you feel you should have access, please contact us. contact at terramarlabs dot com.</p>
            </div>
        </div>
        <div id="ft">
            <p><small>Proudly powered by <a href="https://github.com/composer/satis">Satis</a> {{ constant('Composer\\Satis\\Satis::VERSION') }} and Terramar Labs Packages {{ constant('Terramar\\Packages\\Version::VERSION') }} - Last updated:  {{ "now"|date('Y-m-d H:i:s') }}</small></p>
            <p id="copy">&copy; 2013 Terramar Labs.</p>
        </div>
    </div>

</body>
</html>
