{% extends 'base.html.twig' %}

{% block title 'New Remote' %}

{% block alt_title 'Create a new remote repository configuration' %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Configuration Information</h3>                                    
            </div>
            <form action="{{ path('manage_configuration_create') }}" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" value="{{ configuration.name }}" placeholder="Enter name" id="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="adapter">Adapter</label>
                        <select id="adapter" name="adapter" class="form-control">
                            {% for adapter in adapters %}
                                <option>{{ adapter.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="url">URL</label>
                        <input type="url" name="url" value="{{ configuration.url }}" placeholder="Enter GitLab URL" id="url" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="token">Token</label>
                        <input type="text" name="token" value="{{ configuration.token }}" placeholder="Enter GitLab Token" id="token" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="enabled">
                            <input type="checkbox" name="enabled" value="1" {% if configuration.enabled %}checked="checked" {% endif %}id="enabled"> &nbsp; Enabled
                        </label>
                    </div>
                </div>

                <div class="box-footer">
                    <button class="btn btn-primary" type="submit">Create Configuration</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
